[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.11"
